main, #mainHeader {
  padding: 0 300px;
}

#mainHeader {
  background-color: #444B6E;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 80px;
}

.navigation {
  padding: 0 100px;
}

.navigation ul {
  list-style: none;

  display: flex;

  margin: 0;
  padding: 0;
}

.navigation ul li a {
  text-decoration: none;

  font-size: 20px;
  font-weight: 500;

  color: #F8F991;

  padding: 0 10px;
}

.navigation ul li a:hover {
  color: #9AB87A;
}